// Mixins in here
.button(@font, @color) {
  background-color: rgb(19, 111, 114);
  font-size: @font;
  width: 90%;
  height: 45px;
  border-radius: 15px;
  color: @color;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
