// Navigation Styles here
nav {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dashed silver;
  .nav-links {
    font-size: 20px;
    width: 30%;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
